<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/favicon.ico" />
<title>GControl IoT Management Center</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/gc-styles.css}" />
</head>
<body class="gc-login-body">
	<section class="gc-login-section gc-new-login-layout">
		<div class="gc-login-left">
			<span class="gc-gt-form-wrapper login-section">
				<p style="font-size: 20px">
					This URL has been moved to <a href="http://i.rating.in:7889">i.rating.in:7889</a>
				</p>
			</span>
		</div>
	</section>
</body>
</html>